.serviceMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6%;
}

.serviceMain .service-head-wrap {
  position: relative;
}

.service-head-wrap .servPath {
  position: absolute;
  top: -10%;
  right: -88%;
  width: 300%;
  opacity: 0.5;
  animation: orbitSpin 3s linear alternate-reverse 2s infinite;
}

.service-head-wrap .blue-planet {
  position: absolute;
  width: 18%;
  top: -20%;
  right: -25%;
  border-radius: 140px;
  animation: blueSpin 7s ease-in-out infinite alternate-reverse;
}

@keyframes blueSpin {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-60deg);
  }
}

.serviceMain img {
  transform-style: preserve-3d;
  animation: header 2s linear 0.1s;
  transition: 1s ease-in-out;
}

@keyframes header {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.serviceDetails {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 13%;
  column-gap: 5%;
  row-gap: 6%;
  margin-bottom: 20%;
  width: 75%;
  place-items: center;
  position: relative;
}
.serviceDetails div {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* width: 90%; */
  width: 26rem;
  height: 26rem;
  background-position: center center;
  background-size: cover;
  aspect-ratio: 1;
  position: relative;
}
.serviceDetails h5 {
  position: absolute;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.36px;
  bottom: 0;
  text-align: center;
}
.serviceDetails h4 {

  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.36px;
  text-align: center;
}
.serviceDetails .serv-4 .socialMedia {
  padding-bottom: 7rem;
}

.serviceDetails .serv-1 img {
  transition: 1s ease-in-out;
  animation: lds-ellipsis2 10s linear 0.1s infinite;
}
.serviceDetails .serv-2 img {
  transition: 1s ease-in-out;
  animation: lds-ellipsis2 10s linear 2.6s infinite;
}
.serviceDetails .serv-3 img {
  transition: 1s ease-in-out;
  animation: lds-ellipsis2 10s linear 0.5s infinite;
}
.serviceDetails .serv-4 img {
  width: 62%;
  transition: 1s ease-in-out;
  animation: lds-ellipsis2 10s linear 2s infinite;
}
.serviceDetails .serv-5 img {
  transition: 1s ease-in-out;
  animation: lds-ellipsis2 10s linear 2.5s infinite;
}
.serviceDetails .serv-6 img {
  transition: 1s ease-in-out;
  animation: lds-ellipsis2 10s linear 0.1s infinite;
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
.serviceDetails div img {
  width: 65%;
  object-fit: contain;
}
.serviceDetails .planetImage1 {
  position: absolute;
  top: 34%;
  left: -3rem;
  width: 6rem;
  margin-left: 2rem;
}
.serviceDetails .planetImage2 {
  position: absolute;

  top: 72.5%;
  right: -2rem;
  width: 8rem;
}
.knowMoreServices {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  perspective: 1000px;
  flex-direction: column;
  background: url("../../assets/services/pattern.svg");
  padding: 8% 0;
  background-position: center center;
  background-size: cover;
}
.callBtn {
  cursor: pointer;
  background-color: #e0e673;
  width: 22rem;
  height: 8.68rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transform-style: preserve-3d;
  transform: rotateX(60deg);
  position: relative;
  margin-top: 1%;
}
.callBtn span {
  color: black;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  position: absolute;
  transform: rotateX(-60deg) translateZ(33px);
}
.callBtn::after {
  content: "";
  background-color: #60662f;
  width: 99%;
  height: 13%;
  transform: rotateX(-100deg) translateZ(0px);
  position: absolute;
  top: 100%;
}
.knowMoreText {
  font-size: 5rem;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px rgb(255 255 255 / 80%);
  line-height: 1;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
}
.knowMoreLayer {
  background: url("../../assets/services/footer\ grid.svg");
  width: 96%;
  aspect-ratio: 1/0.1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* margin-top: 1%; */
}
.star-space {
  width: 100%;
  min-height: 17rem;
}

/* Large Desktop Screens */
@media (min-width: 1536px) {
  .serviceDetails div {
    width: 31rem;
    height: 31rem;
  }
  
  .serviceDetails h5,
  .serviceDetails h4 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  
  .knowMoreText {
    font-size: 6rem;
  }
  
  .callBtn {
    width: 26rem;
    height: 10rem;
  }
  
  .callBtn span {
    font-size: 3rem;
  }
}

/* Desktop and Laptop Screens */
@media (max-width: 1200px) {
  .serviceMain {
    margin-left: 4%;
  }
  
  .serviceDetails {
    width: 85%;
    column-gap: 4%;
    row-gap: 5%;
  }
  
  .serviceDetails div {
    width: 24rem;
    height: 24rem;
  }
  
  .knowMoreText {
    font-size: 4.5rem;
  }
  
  .callBtn {
    width: 20rem;
    height: 7.5rem;
  }
  
  .callBtn span {
    font-size: 2.2rem;
  }
}

/* Tablet Screens */
@media (max-width: 992px) {
  .serviceMain {
    margin-left: 2%;
  }
  
  .serviceDetails {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    column-gap: 3%;
    row-gap: 4%;
    margin-top: 10%;
    margin-bottom: 15%;
  }
  
  .serviceDetails div {
    width: 20rem;
    height: 20rem;
  }
  
  .serviceDetails h5,
  .serviceDetails h4 {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  
  .serviceDetails div img {
    width: 60%;
  }
  
  .serviceDetails .serv-4 img {
    width: 55%;
  }
  
  .serviceDetails .planetImage1 {
    width: 4rem;
    left: -2rem;
  }
  
  .serviceDetails .planetImage2 {
    width: 5rem;
    right: -1rem;
  }
  
  .knowMoreText {
    font-size: 3.5rem;
    letter-spacing: 2px;
  }
  
  .callBtn {
    width: 18rem;
    height: 6.5rem;
  }
  
  .callBtn span {
    font-size: 1.8rem;
  }
  
  .knowMoreLayer {
    margin-left: 0;
    width: 98%;
  }
  
  .star-space {
    min-height: 12rem;
  }
}

/* Large Mobile Screens */
@media (max-width: 768px) {
  .serviceMain {
    margin-left: 0;
  }
  
  .serviceDetails {
    grid-template-columns: 1fr;
    width: 95%;
    column-gap: 0;
    row-gap: 3rem;
    margin-top: 8%;
    margin-bottom: 12%;
  }
  
  .serviceDetails div {
    width: 18rem;
    height: 18rem;
  }
  
  .serviceDetails h5,
  .serviceDetails h4 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  
  .serviceDetails div img {
    width: 55%;
  }
  
  .serviceDetails .serv-4 img {
    width: 50%;
  }
  
  .serviceDetails .planetImage1 {
    width: 3.5rem;
    left: -1.5rem;
    top: 25%;
  }
  
  .serviceDetails .planetImage2 {
    width: 4rem;
    right: -1rem;
    top: 65%;
  }
  
  .knowMoreServices {
    padding: 6% 0;
  }
  
  .knowMoreText {
    font-size: 2.8rem;
    letter-spacing: 1.5px;
    -webkit-text-stroke: 1.5px rgb(255 255 255 / 80%);
  }
  
  .callBtn {
    width: 16rem;
    height: 5.5rem;
  }
  
  .callBtn span {
    font-size: 1.5rem;
  }
  
  .star-space {
    min-height: 10rem;
  }
}

/* Mobile Screens */
@media (max-width: 480px) {
  .serviceDetails {
    margin-bottom: 0;
    width: 98%;
    row-gap: 2rem;
  }
  
  .serviceDetails div {
    width: 16rem;
    height: 16rem;
  }
  
  .serviceDetails h5,
  .serviceDetails h4 {
    font-size: 1rem;
    line-height: 1rem;
  }
  
  .serviceDetails div img {
    width: 50%;
  }
  
  .serviceDetails .serv-4 img {
    width: 45%;
  }
  
  .serviceDetails .planetImage1 {
    width: 3rem;
    top: -20rem;
    left: -1rem;
  }
  
  .serviceDetails .planetImage2 {
    width: 3rem;
    top: -1rem;
    right: -0.5rem;
  }
  
  .knowMoreServices {
    padding: 4% 0;
  }
  
  .knowMoreText {
    font-size: 2.2rem;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px rgb(255 255 255 / 80%);
  }
  
  .callBtn {
    width: 14rem;
    height: 4.5rem;
  }
  
  .callBtn span {
    font-size: 1.2rem;
  }
  
  .star-space {
    min-height: 8rem;
  }
}

/* Small Mobile Screens */
@media (max-width: 375px) {
  .serviceDetails div {
    width: 14rem;
    height: 14rem;
  }
  
  .serviceDetails h5,
  .serviceDetails h4 {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
  
  .serviceDetails div img {
    width: 45%;
  }
  
  .serviceDetails .serv-4 img {
    width: 40%;
  }
  
  .knowMoreText {
    font-size: 1.8rem;
  }
  
  .callBtn {
    width: 12rem;
    height: 4rem;
  }
  
  .callBtn span {
    font-size: 1rem;
  }
  
  .star-space {
    min-height: 6rem;
  }
}

/* Extra Small Mobile Screens */
@media (max-width: 320px) {
  .serviceDetails div {
    width: 12rem;
    height: 12rem;
  }
  
  .serviceDetails h5,
  .serviceDetails h4 {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  
  .serviceDetails div img {
    width: 40%;
  }
  
  .serviceDetails .serv-4 img {
    width: 35%;
  }
  
  .knowMoreText {
    font-size: 1.5rem;
  }
  
  .callBtn {
    width: 10rem;
    height: 3.5rem;
  }
  
  .callBtn span {
    font-size: 0.9rem;
  }
  
  .star-space {
    min-height: 5rem;
  }
}