.contactSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contactImage {
  width: 27rem;
  margin-top: 2rem;
}

.sendButton {
  margin-top: -3rem;
  margin-left: -2%;
  animation: orbitSpin 0.7s ease-in-out infinite alternate-reverse;
}

.sendShakeBtn {
  animation: shakeY 0.25s ease-in-out infinite;
}

@keyframes shakeY {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translate(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.address1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  position: relative;
  margin-top: 5%;
}

.address1 .address-1 {
  font-weight: 600;
  font-size: 1.5rem;
  position: absolute;
  top: 38%;
}

.address1 .address-2 {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  text-align: center;
}



.detailSection .bg-image-2 {
  background-image: url(../../assets/contact/Group\ 184.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.contact-width {
  width: 40% !important;
}

.Ellipse1 {
  position: absolute;
  right: 9rem;
  top: 2rem;
}

.Ellipse2 {
  position: absolute;
  left: 11rem;
  bottom: 9rem;
}

.Ellipse {
  position: absolute;
  bottom: 0;
  right: 5rem;
}

.moving_1 {
  animation: GFG-Planet 8s linear 2s reverse infinite;
}

.moving_2 {
  animation: GFG-Planet 8s ease-in-out 2s forwards infinite;
}

@keyframes GFG-Planet {
  0% {
    transform: rotate(0deg) translate(10px, 20px) rotate(0deg);
  }
  25% {
    transform: rotate(90deg) translate(10px, 20px) rotate(-90deg);
  }
  50% {
    transform: rotate(180deg) translate(10px, 20px) rotate(-180deg);
  }
  75% {
    transform: rotate(270deg) translate(10px, 20px) rotate(-270deg);
  }
  100% {
    transform: rotate(360deg) translate(10px, 20px) rotate(-360deg);
  }
}

@media (max-width: 992px) {
  .address1 .address-1 {
    top: 30%;
  }
  
  .address1 .address-2 {
    margin-top: 0.5rem;
    line-height: 1rem;
    font-size: 0.8rem;
    top: 45%;
  }
  
  .sendButton img {
    width: 18rem;
  }
}

@media (max-width: 480px) {
  .sendButton {
    margin-top: -3rem;
  }
  
  .sendButton img {
    width: 14rem;
  }
  
  .address1 {
    margin-top: 5rem;
  }
  
  .address1 .address-1 {
    font-size: 1.2rem;
  }
  
 
  
  .detailSection .bg-image-2 {
    flex-direction: column;
  }
  
  .address1 {
    width: 65% !important;
  }
  
  .address1 .address-2 {
    font-size: 0.65rem;
  }
  
  .Ellipse {
    bottom: 6rem;
    right: 0rem;
  }
  
  .Ellipse1 {
    top: 0;
  }
  
  .Ellipse2 {
    left: 2rem;
  }
}